/* ------------------------------------------------------ GERAL ------------------------------------------------------ */
.section-margin-separation {
    margin-top: 5%;
}

html, body {
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-size: 60px;
}

ul,li {
    list-style:none;
}
a{
    text-decoration: none;
    color: black;
}

nav{
    color: black;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
}
/* ------------------------------------------------------ FIM GERAL ------------------------------------------------------ */

/* ------------------------------------------------------ NAVBAR ------------------------------------------------------ */
.btn-contact {
    position: relative;
    border: 2px solid #1559b7;
    border-radius: 0;
    color: #1559b7;
    background-color: transparent;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
    z-index: 10;
  }

.btn-contact:hover {
    color: white;
    background-color: #1559b7;
    text-decoration: none;
}

.nav-link:hover {
    color: #1559b7;
}

/* ------------------------------------------------------ FIM NAVBAR ------------------------------------------------------ */



/* ------------------------------------------------------ CAROUSEL ------------------------------------------------------ */

/* ---------------------------- CONTROLS  ---------------------------- */

/* Engorda os controlos */
.carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 60%;
}

.carousel-control-prev, 
.carousel-control-next {
    z-index: 5; 
}

.carousel-control-next-icon {
    width: 10rem; 
    height: 2rem;
    margin-left: 60%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(26%) sepia(76%) saturate(5000%) hue-rotate(186deg) brightness(95%) contrast(95%);
}

/* ---------------------------- Indicators  ---------------------------- */

/* Faz os indicadores maiores */
.carousel-indicators button {
    width: 10rem;
    height: 10rem;
}

/* Muda a cor do indicador selecionado */
.carousel-indicators .active {
    background-color: #1559b7;
}

/* ---------------------------- Slide  ---------------------------- */

/* Cor do Background do Slide */
.slide-1-jap {
    background-color: #ecedec;
    height: 30rem;
}

.slide-2-aus {
    background-color: #000000;
    color: white;
    height: 30rem;
}

/* ---------------------------- IMGS  ---------------------------- */
.img-jap-carousel {
    width: 80%;
    height: auto;
    margin-top: 12%;
    margin-bottom: 15%;
    margin-left: 7%;
}

.img-aus-carousel {
    width: 80%;
    height: auto;
    margin-top: 12%;
    margin-bottom: 15%;
    margin-left: 7%;
}





/* ------------------------------------------------------ FIM CAROUSEL ------------------------------------------------------ */


/* ------------------------------------------------------ ESCOLHA O PAÍS ------------------------------------------------------ */

.section2-text-padding {
    padding-left: 22%; 
    padding-right: 22%;
}

.flag-card {
    border: 2px solid #ccc;
    text-align: center;
    padding: 6%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flag-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.flag-card:hover {
    border: 2px solid #1559b7;
}
.flag-caption {
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
    margin-bottom: -2%;
}

/* ------------------------------------------------------ FIM ESCOLHA O PAÍS ------------------------------------------------------ */


/* ------------------------------------------------------ EXPLORA O MUNDO CONNOSCO ------------------------------------------------------ */

.section3-title {
    font-size: 60px;
    margin-bottom: 3%;
}

.section3-text-padding {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
    color: #ffffff;
    filter: brightness(81%);
}

.section3-button-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.full-width-image {
    background-image: url('../imgs/background_section3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 35rem;
    align-items: center;
    align-content: center;
    color: white;
}

.section3-image-filter {
    background-color: rgb(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 35rem;
    align-items: center;
    align-content: center;
    color: white;
}

/* ------------------------------------------------------ FIM EXPLORA O MUNDO CONNOSCO ------------------------------------------------------ */


/* ---------------------------- PERFIL ESTUDANTES  ---------------------------- */

.card-perfil {
    border: 2px solid #ccc;
    text-align: center;
    padding: 6%;
}
.card-perfil img {
    width: 100%;
    height: 265px;
}
.btn-more-info{
    border: 2px solid #1559b7;
    border-radius: 0;
    color: #1559b7;
    background-color: transparent;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
    width: auto;
  }

.btn-more-info:hover {
    color: white;
    background-color: #1559b7;
    text-decoration: none;
}
/* ---------------------------- FIM PERFIL ESTUDANTES  ---------------------------- */
