/* ------------------------------------------------------ GERAL ------------------------------------------------------ */
.section-margin-separation {
    margin-top: 5%;
}

body {
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-size: 60px;
}
/* ------------------------------------------------------ FIM GERAL ------------------------------------------------------ */

/* ------------------------------------------------------ NAVBAR ------------------------------------------------------ */
nav{
    color: black;
    font-family: Montserrat, sans-serif;
}

.btn-contact {
    border: 2px solid #1559b7;
    border-radius: 0;
    color: #1559b7;
    background-color: transparent;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
  }

.btn-contact:hover {
    color: white;
    background-color: #1559b7;
    text-decoration: none;
}

/* ------------------------------------------------------ FIM NAVBAR ------------------------------------------------------ */



/* ------------------------------------------------------ CAROUSEL ------------------------------------------------------ */

/* ---------------------------- CONTROLS  ---------------------------- */

/* Engorda os controlos */
.carousel-control-prev-icon{
    width: 10rem; 
    height: 2rem;
    margin-right: 60%;
}

.carousel-control-next-icon {
    width: 10rem; 
    height: 2rem;
    margin-left: 60%;
}

/* Cor do da esquerda */
.carousel-control-prev-icon {
    filter: invert(49%) sepia(1%) saturate(0%) hue-rotate(180deg) brightness(96%) contrast(90%);
}

/* Cor do da direita */
.carousel-control-next-icon {
    filter: invert(26%) sepia(76%) saturate(5000%) hue-rotate(186deg) brightness(95%) contrast(95%);
}

/* ---------------------------- Indicators  ---------------------------- */

/* Faz os indicadores maiores */
.carousel-indicators button {
    width: 10rem;
    height: 10rem;
}

/* Muda a cor do indicador selecionado */
.carousel-indicators .active {
    background-color: #1559b7;
}

/* ---------------------------- Slide  ---------------------------- */

/* Cor do Background do Slide */
.slide-1-jap {
    background-color: #ecedec;
    height: 30rem;
}

.slide-2-aus {
    background-color: #000000; /* Change to any color you prefer */
    color: white;
    height: 30rem;
}

/* ---------------------------- IMGS  ---------------------------- */
.img-jap-carousel {
    width: 80%;
    height: auto;
    margin-top: 12%;
    margin-bottom: 15%;
    margin-left: 7%;
}

.img-aus-carousel {
    width: 80%;
    height: auto;
    margin-top: 12%;
    margin-bottom: 15%;
    margin-left: 7%;
}

/* ------------------------------------------------------ FIM CAROUSEL ------------------------------------------------------ */


/* ------------------------------------------------------ ESCOLHA O PAÍS ------------------------------------------------------ */

.section2-text-padding {
    padding-left: 22%; 
    padding-right: 22%;
}

.flag-card {
    border: 2px solid #ccc;
    text-align: center;
    padding: 6%;
}
.flag-card img {
    width: 100%;
    height: auto;
}
.flag-card:hover {
    border: 2px solid #1559b7;
}
.flag-caption {
    margin-top: 3%;
    font-weight: bold;
    margin-bottom: -2%;
}

/* ------------------------------------------------------ FIM ESCOLHA O PAÍS ------------------------------------------------------ */

.section3-title {
    font-size: 70px;
    margin-bottom: 3%;
}

.section3-text-padding {
    padding-left: 120px; 
    padding-right: 120px;
    color: #ffffff;
    filter: brightness(81%);
}

.section3-button-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.full-width-image {
    background-image: url(/imgs/background_section3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 35rem;
    align-items: center;
    align-content: center;
    color: white;
}

.section3-image-filter {
    background-color: rgb(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 35rem;
    align-items: center;
    align-content: center;
    color: white;
}