/* ------------------------------------------------------ CAROUSEL ------------------------------------------------------ */

/* ---------------------------- CONTROLS  ---------------------------- */

/* Engorda os controlos */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 10rem; 
    height: 2rem;
}

/* Cor do da esquerda */
.carousel-control-prev-icon {
    filter: invert(49%) sepia(1%) saturate(0%) hue-rotate(180deg) brightness(96%) contrast(90%);
}

/* Cor do da direita */
.carousel-control-next-icon {
    filter: invert(26%) sepia(76%) saturate(5000%) hue-rotate(186deg) brightness(95%) contrast(95%);
}

/* Move o da esquerda mais pa esquerda */
.carousel-control-prev {
    left: -3rem;
}

/* Move o da direita mais pa direita */
.carousel-control-next {
    right: -3rem;
}

/* ---------------------------- Indicators  ---------------------------- */

/* Faz os indicadores maiores */
.carousel-indicators button {
    width: 10rem;
    height: 10rem;
}

/* Muda a cor do indicador selecionado */
.carousel-indicators .active {
    background-color: #1559b7;
}

/* ---------------------------- Slide  ---------------------------- */

/* Cor do Background do Slide */
.carousel-item {
    background-color: #ecedec; /* Change to any color you prefer */
}

/* ------------------------------------------------------ FIM CAROUSEL ------------------------------------------------------ */